{% extends 'base.html' %}
{% load static %}
 
{% block content %}
<head>
    <title>Berita</title>
    <style>
        .card-img {
            min-height: 15vh;
            height: 21vh;
            width: 100%;
            object-fit: cover;
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg p-3 shadow fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Bojongmekar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item font-bold">
                        <a class="nav-link mx-2" aria-current="page" href="/">Beranda</a>
                    </li>
                    <li class="nav-item dropdown font-bold">
                        <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profil Desa</a>
                        <ul class="dropdown-menu font-bold" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/profil/sejarah/">Tentang Desa</a></li>
                            <li><a class="dropdown-item" href="/profil/wilayah/">Wilayah Desa</a></li>
                            <li><a class="dropdown-item" href="/profil/masyarakat/">Masyarakat Desa</a></li>
                            <li><a class="dropdown-item" href="/profil/potensi/">Potensi Desa</a></li>
                        </ul>
                    </li>
                    <li class="nav-item font-bold">
                        <a class="nav-link mx-2 active" href="/berita/">Berita</a>
                    </li>
                    <li class="nav-item font-bold">
                        <a class="nav-link mx-2" href="/artikel/">Artikel</a>
                    </li>
                    <li class="nav-item font-bold">
                        <a class="nav-link mx-2" href="/umkm/">UMKM</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead-app">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="header-title">Berita Desa</h1>
                    <p class="header-caption">Berita-Berita Terbaru dari Desa Bojongmekar.</p>
                </div>
            </div>
        </div>
    </header>

  <!-- Artikel -->
    <section class="py-5">
        <div class="container"> 
            <p class="title-text pb-3">Daftar Berita</p>
            <div class="row">
                {% if news_list %}
                    {% for news in news_list reversed %}
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <div class="card mb-3" style="max-width: 640px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="{{ news.photo_link }}" class="card-img rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ news.title }}</h5>
                                            <p class="card-text">{{ news.content }}</p>
                                            <p class="card-text"><small class="text-body-secondary">{{ news.date }}</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="text-center">
                        <p class="fs-5 text-secondary">Belum ada berita.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
</body>
{% endblock content %}