<section class="pt-5">
    <div class="container"> 
        <p class="title-text pb-3">Keadaan Ekonomi</p>
        <p class="text-center fw-bolder">Jumlah Lembaga Ekonomi dan Usaha Desa Bojongmekar Tahun 2020 - 2022</p>
        <table class="table table-bordered table-hover">
            <thead class="align-middle text-center">
                <tr class="table-secondary">
                    <th>No</th>
                    <th>Jenis Lembaga Ekonomi</th>
                    <th>Jumlah Unit</th>
                    <th>Jumlah Kegiatan</th>
                    <th>Jumlah Pengurus dan Anggota</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Koperasi Unit Desa</td>
                    <td>1</td>
                    <td>1</td>
                    <td>60</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Koperasi Simpan Pinjam</td>
                    <td>1</td>
                    <td>1</td>
                    <td>4</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Koperasi Lainnya</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Bumdes</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>