<section class="pt-5">
    <div class="container"> 
        <p class="text-center fw-bolder">Jumlah Lembaga Keuangan Desa Bojongmekar Tahun 2020 - 2022</p>
        <table class="table table-bordered table-hover">
            <thead class="align-middle text-center">
                <tr class="table-secondary">
                    <th>No</th>
                    <th>Jenis Lembaga Keuangan</th>
                    <th>Jumlah Unit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Jasa Asuransi</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Lembaga Keuangan Non Bank</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Bank Perkreditan Rakyat</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Pegadaian</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Bank Pemerintah</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>