<section class="pt-5">
    <div class="container">
        <p class="text-center fw-bolder">Jumlah Usaha Mikro, Kecil dan Menengah (UMKM)/Industri Desa Bojongmekar Tahun 2022</p>
        <table class="table table-bordered table-hover">
            <thead class="align-middle text-center">
                <tr class="table-secondary">
                    <th>No</th>
                    <th>Jenis UMKM/Industri/Jasa</th>
                    <th>Jumlah Unit</th>
                </tr>
                <tr>
                    <th colspan="3">UMKM/Industri</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Industri makanan</td>
                    <td>14</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Industri alat rumah tangga</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Industri material bahan bangunan</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Industri alat pertanian</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Industri kerajinan</td>
                    <td>4</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Industri farmasi</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Industri karoseri/cat mobil</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Industri pengolahan kayu</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Rumah makan dan restoran</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Lainnya</td>
                    <td></td>
                </tr>
            </tbody>
            <thead class="align-middle text-center">
                <tr>
                    <th colspan="3">Jasa Perdagangan</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">11</th>
                    <td>Pasar tradisional</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>Pasar mingguan</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">13</th>
                    <td>Pasar bulanan</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">14</th>
                    <td>Pasar kaget/pasar khusus</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">15</th>
                    <td>Toko/kios/warung</td>
                    <td>62</td>
                </tr>
                <tr>
                    <th scope="row">16</th>
                    <td>Swalayan</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">17</th>
                    <td>Usaha peternakan</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th scope="row">18</th>
                    <td>Usaha perikanan</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">19</th>
                    <td>Usaha perkebunan</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">20</th>
                    <td>Usaha minuman</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">21</th>
                    <td>Lainnya</td>
                    <td></td>
                </tr>
            </tbody>
            <thead class="align-middle text-center">
                <tr>
                    <th colspan="3">Jasa Hiburan</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">22</th>
                    <td>Grup musik</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">23</th>
                    <td>Lainnya</td>
                    <td></td>
                </tr>
            </tbody>
            <thead class="align-middle text-center">
                <tr>
                    <th colspan="3">Jasa Gas, Listrik, BBM dan Air</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">24</th>
                    <td>Usaha penyewaan tenaga listrik</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">25</th>
                    <td>SPBU</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">26</th>
                    <td>Pangkalan minyak tanah</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">27</th>
                    <td>Pengecer gas dan bahan bakar minyak</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">28</th>
                    <td>Usaha air minum kemasan/isi ulang</td>
                    <td>2</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>