<section class="pt-5">
    <div class="container"> 
        <p class="text-center fw-bolder">Jumlah Penduduk Desa Bojongmekar Tahun 2020 - 2022 Dirinci Menurut Agama yang Dianut</p>
        <table class="table table-bordered table-hover">
            <thead class="align-middle text-center">
                <tr class="table-secondary">
                    <th rowspan="2">No</th>
                    <th rowspan="2">Agama</th>
                    <th colspan="3">Tahun</th>
                    <th rowspan="2">Rata-Rata Pertumbuhan (%)</th>
                </tr>
                <tr class="table-secondary">
                    <th>2020</th>
                    <th>2021</th>
                    <th>2022</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Islam</td>
                    <td>5477</td>
                    <td>5507</td>
                    <td>5438</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Kristen</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Katolik</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Budha</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Hindu</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Kepercayaan Lainnya</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>