<section class="pt-5">
    <div class="container"> 
        <p class="title-text pb-3">Jumlah Penduduk</p>
        <p class="text-center fw-bolder">Jumlah Penduduk Desa Bojongmekar Tahun 2020 - 2022 Dirinci Menurut Dusun dan Jenis Kelamin</p>
        <table class="table table-bordered table-hover">
            <thead class="align-middle text-center">
                <tr class="table-secondary">
                    <th rowspan="2">No</th>
                    <th rowspan="2">Dusun</th>
                    <th colspan="2">2020</th>
                    <th colspan="2">2021</th>
                    <th colspan="2">2022</th>
                    <th colspan="2">Rata-Rata Pertumbuhan (%)</th>
                </tr>
                <tr class="table-secondary">
                    <th>L</th>
                    <th>P</th>
                    <th>L</th>
                    <th>P</th>
                    <th>L</th>
                    <th>P</th>
                    <th>L</th>
                    <th>P</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td>861</td>
                    <td>845</td>
                    <td>871</td>
                    <td>842</td>
                    <td>899</td>
                    <td>862</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td></td>
                    <td>934</td>
                    <td>914</td>
                    <td>952</td>
                    <td>911</td>
                    <td>964</td>
                    <td>927</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td></td>
                    <td>972</td>
                    <td>951</td>
                    <td>981</td>
                    <td>950</td>
                    <td>993</td>
                    <td>969</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row" colspan="2">Jumlah</th>
                    <td>2767</td>
                    <td>2710</td>
                    <td>2804</td>
                    <td>2703</td>
                    <td>2856</td>
                    <td>2758</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>