<section class="pt-5">
    <div class="container"> 
        <p class="text-center fw-bolder">Jumlah Penduduk Desa Bojongmekar Tahun 2020 - 2022 Dirinci Menurut Pekerjaan</p>
        <table class="table table-bordered table-hover">
            <thead class="align-middle text-center">
                <tr class="table-secondary">
                    <th rowspan="2">No</th>
                    <th rowspan="2">Pekerjaan</th>
                    <th colspan="3">Tahun</th>
                    <th rowspan="2">Rata-Rata Pertumbuhan (%)</th>
                </tr>
                <tr class="table-secondary">
                    <th>2020</th>
                    <th>2021</th>
                    <th>2022</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Petani</td>
                    <td>81</td>
                    <td>96</td>
                    <td>107</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Buruh</td>
                    <td>923</td>
                    <td>937</td>
                    <td>949</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Pegawai Swasta</td>
                    <td>51</td>
                    <td>67</td>
                    <td>70</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>PNS/TNI/Polri</td>
                    <td>41</td>
                    <td>41</td>
                    <td>41</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Pedagang Barang/Jasa</td>
                    <td>200</td>
                    <td>200</td>
                    <td>200</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Pegawai Lainnya</td>
                    <td>113</td>
                    <td>121</td>
                    <td>126</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>