<section class="pt-5">
    <div class="container">
        <p class="text-center fw-bolder">Jumlah Sarana Ibadah Desa  Bojongmekar Tahun 2020 - 2022</p>
        <table class="table table-bordered table-hover">
            <thead class="align-middle text-center">
                <tr class="table-secondary">
                    <th>No</th>
                    <th>Jenis Sarana</th>
                    <th>Jumlah</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Masjid</td>
                    <td>13</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Musholla</td>
                    <td>11</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Gereja Kristen Protestan</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Gereja Katholik</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Wihara</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Pura</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Klenteng</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Lainnya</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>