<section class="pt-5">
    <div class="container"> 
        <p class="text-center fw-bolder">Jumlah Sarana Olahraga Desa Bojongmekar Tahun 2020 - 2022</p>
        <table class="table table-bordered table-hover">
            <thead class="align-middle text-center">
                <tr class="table-secondary">
                    <th>No</th>
                    <th>Jenis Sarana</th>
                    <th>Jumlah</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Lapangan Sepak Bola</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Lapangan Bulu Tangkis</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Meja Pingpong</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Lapangan Tenis</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Lapangan Voli</td>
                    <td>10</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Lapangan Golf</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Pacuan Kuda</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Lapangan Basket</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Pusat Kebugaran</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Gelanggang Remaja</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>Arung Jeram</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>Balai Kesehatan Ibu dan Anak</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">13</th>
                    <td>Rumah Sakit Mata</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">13</th>
                    <td>Dokter Umum</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">14</th>
                    <td>Dokter Gigi</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">15</th>
                    <td>Dokter Spesialis Lainnya</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">16</th>
                    <td>Bidan</td>
                    <td>2</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>