<section class="pt-5">
    <div class="container"> 
        <p class="text-center fw-bolder">Rata-rata Pertumbuhan Realisasi Pembiayaan Desa Bojongmekar Tahun 2022</p>
        <table class="table table-bordered table-hover">
            <thead class="align-middle text-center">
                <tr class="table-secondary">
                    <th rowspan="2">Kode Rekening</th>
                    <th rowspan="2">Uraian</th>
                    <th colspan="3">Tahun</th>
                    <th rowspan="2">Rata-Rata Pertumbuhan</th>
                </tr>
                <tr class="table-secondary">
                    <th>2020</th>
                    <th>2021</th>
                    <th>2023</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">2</th>
                    <td>Belanja</td>
                    <td>1.543.557.509</td>
                    <td>1.980.676.842</td>
                    <td>2.575.795.300</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">A</th>
                    <td>BIDANG PENYELENGGARAN PEMERINTAHAN DESA</td>
                    <td>619.945.909</td>
                    <td>533.399.072</td>
                    <td>679.657.800</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">B</th>
                    <td>BIDANG PELAKSANAAN PEMBANGUNAN DESA</td>
                    <td>813.399.400</td>
                    <td>1.110.500.000</td>
                    <td>1.356.816.100</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">C</th>
                    <td>BIDANG PEMBINAAN KEMASYARAKATAN</td>
                    <td>74.866.000</td>
                    <td>22.000.000</td>
                    <td>153.562.500</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">D</th>
                    <td>BIDANG PEMBERDAYAAN MASYARAKAT</td>
                    <td>35.346.200</td>
                    <td>314.777.770</td>
                    <td>385.758.900</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row" colspan="2">Jumlah Belanja</th>
                    <td></td>
                    <td></td>
                    <td>2.575.795.300</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>