<section class="pt-5">
    <div class="container"> 
        <p class="text-center fw-bolder">Rata-rata Pertumbuhan Realisasi Belanja Desa Bojongmekar Tahun 2020 - 2022</p>
        <table class="table table-bordered table-hover">
            <thead class="align-middle text-center">
                <tr class="table-secondary">
                    <th rowspan="2">Kode Rekening</th>
                    <th rowspan="2">Uraian</th>
                    <th>Tahun</th>
                    <th rowspan="2">Rata-Rata Pertumbuhan</th>
                </tr>
                <tr class="table-secondary">
                    <th>2022</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>Pembiayaan</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Penerimaan Pembiayaan</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>SILPA</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Pencairan Dana Cadangan</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Hasil Penjualan Kekayaan Desa yang Dipisahkan</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Pengeluaran Pembiayaan</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Pembentukan Dana Cadangan</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Penyertaan Modal Desa</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row" colspan="2">Jumlah Pembiayaan</th>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>