<section class="pt-5">
    <div class="container">
        <p class="title-text pb-3">Keuangan Desa</p>
        <p class="text-center fw-bolder">Rata-rata Pertumbuhan Realisasi Pendapatan Desa Bojongmekar Tahun 2020 - 2022</p>
        <table class="table table-bordered table-hover">
            <thead class="align-middle text-center">
                <tr class="table-secondary">
                    <th rowspan="2">Kode Rekening</th>
                    <th rowspan="2">Uraian</th>
                    <th colspan="3">Tahun</th>
                    <th rowspan="2">Rata-Rata Pertumbuhan</th>
                </tr>
                <tr class="table-secondary">
                    <th>2020</th>
                    <th>2021</th>
                    <th>2023</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Pendapatan</td>
                    <td>2.412.254.800</td>
                    <td>2.366.604.400</td>
                    <td>3.031.358.600</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">1.1</th>
                    <td>Pendapatan Asli Desa</td>
                    <td>178.500.000</td>
                    <td>17.850.000</td>
                    <td>20.000.000</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">1.1.1</th>
                    <td>Hasil Usaha</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">1.1.2</th>
                    <td>Swadaya, Partisipasi dan Gotong Royong</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">1.1.3</th>
                    <td>Lain-lain Pendapatan Asli Desa yang Sah</td>
                    <td>178.500.000</td>
                    <td>17.850.000</td>
                    <td>20.000.000</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">1.2</th>
                    <td>Pendapatan Transfer</td>
                    <td>1.815.179.800</td>
                    <td>2.037.004.400</td>
                    <td>2.483.655.600</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">1.2.1</th>
                    <td>Dana Desa</td>
                    <td>924.026.100</td>
                    <td>1.196.388.500</td>
                    <td>1.527.088.000</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">1.2.2</th>
                    <td>Bagian dari hasil pajak dan retribusi daerah</td>
                    <td>172.356.900</td>
                    <td>142.494.400</td>
                    <td>223.458.300</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">1.2.3</th>
                    <td>Alokasi Dana Desa</td>
                    <td>718.796.800</td>
                    <td>698.121.500</td>
                    <td>733.109.300</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">1.2.4</th>
                    <td>Bantuan Keuangan</td>
                    <td>414.500.000</td>
                    <td>311.750.000</td>
                    <td>527.703.000</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">1.2.4.1</th>
                    <td>Bantuan Provinsi</td>
                    <td>165.000.000</td>
                    <td>115.000.000</td>
                    <td>127.288.000</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">1.2.4.2</th>
                    <td>Bantuan Kabupaten</td>
                    <td>249.500.000</td>
                    <td>196.750.000</td>
                    <td>400.415.000</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">1.3</th>
                    <td>Pendapatan Lain-lain</td>
                    <td>4.075.000</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">1.3.1</th>
                    <td>Hibah dan sumbangan dari pihak ketiga yang tidak mengikat</td>
                    <td>4.075.000</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">1.3.2</th>
                    <td>Lain-lain Pendapatan Desa yang sah</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row" colspan="2">Jumlah Pendapatan</th>
                    <td>2.412.254.800</td>
                    <td>2.366.604.400</td>
                    <td>3.031.358.600</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>