<section class="py-5">
    <div class="container"> 
        <p class="title-text pb-3">Pembagian Wilayah Desa</p>
        <p class="text-center fw-bolder">Jumlah Dusun, Luas Wilayah dan Jumlah RT/RW Desa Bojongmekar Tahun 2019</p>
        <table class="table table-bordered table-hover">
            <thead class="align-middle text-center">
                <tr class="table-secondary">
                    <th>No</th>
                    <th>Nama Dusun</th>
                    <th>Luas Wilayah</th>
                    <th>Jumlah RT</th>
                    <th>Jumlah RW</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Dusun I</td>
                    <td></td>
                    <td>8</td>
                    <td>3</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Dusun II</td>
                    <td></td>
                    <td>9</td>
                    <td>3</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Dusun III</td>
                    <td></td>
                    <td>9</td>
                    <td>3</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Dusun IV</td>
                    <td></td>
                    <td>11</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>